// Tablets & Smaller
@media (max-width: 800px) {
  #header {
    &-home {
      #main-nav {
        display: flex;
        flex-direction: column;

        h1 {
          text-align: center;
        }
      }
    }
  }

  #showcase {
    .container {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
    }
  }

  #about-main {
    .container {
      .about-info {
        display: grid;
        grid-template-areas:
          "bioimage"
          "bio";
        grid-gap: 1.2rem;
      }
    }
  }

  #experience {
    .page-container {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
