// Variables
$website-width: 1280px;

// General Styles
* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: "Dosis", sans-serif;
  background: white;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

// Header
#header {
  &-home {
    background: #a1eafb;
    color: #333;

    #main-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem 1.5rem;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .current {
          border-color: #f73859;
        }

        li {
          padding-right: 1.5rem;

          a {
            color: #333;
            text-transform: uppercase;
            border-bottom: 3px transparent solid;
            transition: border-color 0.5s;

            &:hover {
              border-color: #f73859;
            }
          }
        }
      }
    }
  }
}
