// Variables
$website-width: 1280px;
$bg-image: url("../images/background.jpeg");

// General Styles
* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: "Dosis", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

// Header
#header {
  &-home {
    background: #333;
    color: white;

    #main-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem 1.5rem;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        li {
          padding-right: 1.5rem;

          a {
            color: white;
            text-transform: uppercase;
            border-bottom: 3px transparent solid;
            transition: border-color 0.5s;

            &:hover {
              border-color: #f73859;
            }

            &.current {
              border-color: #f73859;
            }
          }
        }
      }
    }
  }
}

// Showcase
#showcase {
  &-home {
    text-align: center;
    background: $bg-image no-repeat center right / cover;
    height: 100vh;

    .container {
      padding: 0 6rem;
      padding-top: 3rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      height: 70vh;

      img {
        border-radius: 15px;
        height: 300px;
        width: 300px;
        margin: auto;
      }
      .showcase-content {
        text-align: center;
        margin: auto;
      }
    }
  }
}
