// Variables
$website-width: 1280px;
$bg-image: url("../images/background.jpeg");
.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

// General Styles
* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: "Dosis", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

// Header
#header {
  &-home {
    background: #333;
    color: white;

    #main-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem 1.5rem;

      h1 {
        transition: all 150ms ease;
      }

      h1:hover {
        font-weight: lighter;
        color: #f73859;
      }

      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        li {
          padding-right: 1.5rem;

          a {
            color: white;
            text-transform: uppercase;
            border-bottom: 3px transparent solid;
            transition: all 0.5s;

            &:hover {
              border-color: #f73859;
              font-size: 1.2rem;
            }

            &.current {
              border-color: #f73859;
            }
          }
        }
      }
    }
  }
}

// Showcase
#showcase {
  &-home {
    text-align: center;
    background: $bg-image no-repeat center right / cover;
    height: 100vh;

    .container {
      padding: 0 6rem;
      padding-top: 3rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      height: 70vh;

      img {
        border-radius: 15px;
        height: 300px;
        width: 300px;
        margin: auto;
      }
      .showcase-content {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        h1 {
          font-size: 3rem;

          strong {
            border-bottom: 3px #f73859 solid;
          }
        }

        a {
          padding: 1rem 2rem;
          background-color: #333;
          color: white;

          &:hover {
            opacity: 0.95;
          }
        }
      }
    }
  }
}

// About Me Page
#about-main {
  text-align: center;
  padding: 3rem 0;

  .container {
    .section-title {
      font-size: 2rem;
      display: block;
      padding-bottom: 0.5rem;
      text-align: center;
      font-weight: 100;
      text-transform: uppercase;
    }

    .lead {
      font-size: 1.3rem;
      margin-bottom: 2rem;
    }

    .bottom-line {
      height: 2px;
      width: 3rem;
      background: #f73859;
      display: block;
      margin: 0 auto 1rem auto;
    }

    .about-info {
      display: grid;
      grid-template-areas: "bioimage bio bio";
      grid-gap: 1.2rem;

      // Grid Area

      img {
        border-radius: 10px;
        box-shadow: 2px 2px 4px 0 #333;
      }

      .bio-image {
        grid-area: bioimage;
      }

      .bio {
        grid-area: bio;
        background: #f4f4f4;
        border-left: 3px solid #f73859;
        padding: 0.8rem;
        border-radius: 10px;
        box-shadow: 2px 2px 4px 0 #333;

        h4 {
          padding-bottom: 0.5rem;

          span {
            border-bottom: 2px #f73859 solid;
          }
        }

        p {
          padding-bottom: 1.5rem;

          a {
            color: black;
            border-bottom: 1px #f73859 solid;
            transition: all 5ms ease-in;

            &:hover {
              font-weight: bold;
              color: #f73859;
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}

// Experiences page

#experience {
  .container #experience-heading {
    text-align: center;
    margin-top: 1rem;
    font-size: 3rem;
  }

  #bottom-line {
    height: 2px;
    width: 5rem;
    background: #f73859;
    display: block;
    margin: 0 auto 1rem auto;
  }

  .page-container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    margin: 2rem 0;
    grid-gap: 1.5rem;

    .card {
      padding: 1rem;

      h2 {
        text-align: center;
      }
      .experiences-container .work-done table li {
        padding-left: 1rem;
      }

      .experiences-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .work-done {
          background: #f4f4f4;
          border-left: 3px solid #f73859;
          padding: 0.8rem;
          border-radius: 10px;
          box-shadow: 2px 2px 4px 0 #333;
        }

        .tech-skills {
          background: #f4f4f4;
          border-left: 3px solid #f73859;
          padding: 0.8rem;
          border-radius: 10px;
          box-shadow: 2px 2px 4px 0 #333;
          margin-top: 2rem;

          h5 {
            padding-left: 1rem;
          }

          p {
            padding-left: 2rem;
          }
        }
      }

      .project {
        background: #f4f4f4;
        border-left: 3px solid #f73859;
        padding: 0.8rem;
        border-radius: 10px;
        box-shadow: 2px 2px 4px 0 #333;

        p {
          padding-left: 1.5rem;
          padding-bottom: 0.5rem;
        }

        #last-p-project {
          padding-bottom: 1rem;
        }

        a {
          padding: 0.5rem 1rem;
          background-color: #333;
          color: white;
          margin-left: 3.9rem;

          &:hover {
            opacity: 0.95;
          }
        }
      }
    }
  }

  .page-container > *:first-child {
    grid-row: 1 / span 3;
  }
}

// Contact me page
#contact-main {
  text-align: center;
  padding: 3rem 0;

  .container {
    .section-title {
      font-size: 2rem;
      display: block;
      padding-bottom: 0.5rem;
      text-align: center;
      font-weight: 100;
      text-transform: uppercase;
    }

    .bottom-line {
      height: 2px;
      width: 3rem;
      background: #f73859;
      display: block;
      margin: 0 auto 1rem auto;
    }

    .bio {
      background: #f4f4f4;
      border-left: 3px solid #f73859;
      padding: 0.8rem;
      border-radius: 10px;
      box-shadow: 2px 2px 4px 0 #333;
      margin-bottom: 3rem;

      h4 {
        padding-bottom: 1rem;

        span {
          border-bottom: 2px #f73859 solid;
        }
      }

      p {
        padding-bottom: 1.5rem;
        text-align: left;

        a {
          color: black;
          border-bottom: 1px #f73859 solid;
          transition: all 5ms ease-in;

          &:hover {
            font-weight: bold;
            color: #f73859;
            border-bottom: none;
          }
        }

        span {
          border-bottom: 1px #f73859 solid;
        }
      }
    }
  }
}

// Footer

#main-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 0;
  background: #333;

  .links .fab {
    text-align: center;
    padding-right: 1.5rem;
    color: white;

    &:hover {
      color: #f73859;
      cursor: pointer;
    }
  }
}
